<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/">HOME</a></li>
        <li><a href="/pesquisa_cpf"> PESQUISAR CPF</a></li>
        <li><a href="/login"> ADMINISTRATIVO</a></li>
    </ul>
</div>