<!DOCTYPE HTML>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Sync Clinic</title>
  <!-- JQuery -->
  <script src="js/jquery-2.2.1.js"></script>
  <!-- bootstrap - link cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- incluindo css -->
  <link href="/css/style.css" rel="stylesheet">
  <!-- favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico" />
</head>

<body>
    <%-include('../partes/header')%>
    <main class="container">
        <div class="container">
          <h2>Todas as consultas agendadas</h2>
          <%if(consultas.length > 0){%>
            <%-include('../partes/card_consulta')%>
          <%} else if(erro) { %>
            <div class="row card-container">
                <h2 class="text-danger" style="text-align: center;"><%= erro %></h2>
            </div>
          <%}%>
    </main>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>