<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pesquisar Consulta</title>
    <script src="js/jquery-2.2.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="images/logo-Principal-Branca.svg" />
            </div>
        </div>
    </nav>
    <div class="container">
        <h2>Pesquisar Consulta</h2>
        <form id="searchForm">
            <div class="form-group">
                <label for="cpf">Digite seu CPF:</label>
                <input type="text" class="form-control" id="cpf" placeholder="Ex: 123.456.789-00" required>
            </div>
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </form>
        <div id="result" class="mt-4"></div>
    </div>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
