/* Reset de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; /* Remove scroll horizontal */
    background: #F8F8F8;
    font-family: Arial, sans-serif;
}

/* Listas e links */
li {
    list-style: none;
    color: #333;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

/* Imagens */
img {
    width: 15%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

/* Estilização da seção "Sobre Nós" */
section {
    margin: 0 auto;
    text-align: center;
}

.sobre-nos {
    background: linear-gradient(to right, #007bff, #6610f2);
    color: white;
    text-align: center;
    padding: 60px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.sobre-nos h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.sobre-nos p {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.8;
}

.sobre-nos:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* Estilo para a notícia */
.clinica_wrapper {
    background-color: #FFF;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    max-width: 100%; /* Garante que a notícia não ultrapasse a tela */
}

.clinica_wrapper:hover {
    transform: translateY(-5px);
}

.header {
    position: fixed;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-nav > li > a {
    color: white; /* Cor padrão */
}
.navbar-nav > li > a:hover {
    color: #00fff2 !important;
}

main {
    margin-top: 100px;
}

.noticia_autor {
    color: #37B6FF;
    display: block;
    font-size: 0.9rem;
}

.noticia_titulo {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.noticia_titulo:hover {
    color: #007bff;
}

.noticia_data {
    color: #727272;
    display: block;
    font-size: 0.9rem;
}

.noticia_resumo {
    color: #333;
    margin-right: 10px;
}

.ver_mais {
    text-align: center;
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.btn-ver_mais > a:hover {
    color: #007bff;
    text-decoration: none;
}

/* Estilo para os campos de input */
.input-sm {
    width: 100%;
    max-width: 200px;
}

.label-spacing {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.button-spacing {
    width: 100%;
    max-width: 280px;
    text-align: right;
    margin-top: 10px;
}


/* Responsividade */
@media (max-width: 768px) {

    .clinica_wrapper {
        padding: 10px;
    }

    .sobre-nos {
        padding: 40px 20px;
    }

    .input-sm {
        width: 100%;
    }

    .label-spacing,
    .button-spacing {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .header-container {
        width: 95%;
    }
}